*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    margin: 40px ;
    position: absolute;
    z-index: 1;
}
.header-icons{
    display: flex;
    gap: 2px;
}

.hero-description{
    padding-top: 41px;
    text-decoration: none;
    font-family: monospace;
    margin-left: -92px;
    color: black;
    font-weight: bold;
}
.nav{
    
    gap: 20px;
    margin-left: 950px;
    text-decoration: none;
    font-family: monospace;
    color: black;
    display: flex;
}

.circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
     
}

.rectangle {
    width: 30px;
    height: 30px;
    background-color: black;

    
 }


 .container{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.left-section{
    width: 50%;
    
}
 
 .hero-img img {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
 }

 .right-section{
    
    background-color: whitesmoke;
    width: 50%;
    
 }
 .section-data{
    margin: 90px;
    padding-top: 100px;
 }
 .date{
    text-decoration: none;
    font-size: 12px;
    font-family: monospace;
 }
 .right-heading{
    font-size: 14px;
    margin-top: 24px;
    text-decoration: none;
    font-family: sans-serif;
 }
 .right-description{
    margin-top: 20px;
    line-height: 25px;
    font-family: sans-serif;
 }

 .link{
    margin-top: 10px;
    text-decoration: none;
    font-family: monospace;
 }
 .right-imgsection img{
    width: 178px;
    margin-top: -66px;
    position: relative;
    margin-left: -19px;
    
}
 